<html>
<head>
    <style>

    </style>
    </head>
<body  bgcolor="skyblue" text="black">
<h1 align="center"> Please select any loaction to see our nearest agents to your location</h1>
<table align="center" border="0">
    <tr ><th>
        LOCATION LIST
    </th></tr>
    <tr>
        <th >
            <a href="{% url 'agent_locations' city_id=1 %}">New York City</a>
        </th>
    </tr>
    <tr>
        <th>
            <a href="{% url 'agent_locations' city_id=2 %}">Boston Massachusetts</a>
        </th>
    </tr>
    <tr>
        <th>
            <a href="{% url 'agent_locations' city_id=3 %}">Los Angles California</a>
        </th>
    </tr>
    <tr>
        <th>
            <a href="{% url 'agent_locations' city_id=4 %}">Chicago lllinois</a>
        </th>
    </tr>
    <tr>
        <th>
            <a href="{% url 'agent_locations' city_id=5 %}">Houston Texas</a>
        </th>
    </tr>
    <tr>
        <th>
            <a href="{% url 'agent_locations' city_id=6 %}">Phoenix,Arizona</a>
        </th>
    </tr>
    <tr>
        <th>
            <a href="{% url 'agent_locations' city_id=7 %}">San Diego,California</a>
        </th>
    </tr>
    <tr>
        <th>
            <a href="{% url 'agent_locations' city_id=8 %}">Dallas,Texas</a>
        </th>
    </tr>
    <tr>
        <th>
            <a href="{% url 'agent_locations' city_id=9 %}">San Jose,California</a>
        </th>
    </tr>
    <tr>
        <th>
            <a href="{% url 'agent_locations' city_id=10 %}">Austin</a>
        </th>
    </tr>
    <tr>
        <th>
            <a href="{% url 'agent_locations' city_id=11 %}">Columbus,Ohio</a>
        </th>
    </tr>
</table>
<!-- <a href="{% url 'agent_locations' city_id=1 %}">New York City</a>
<a href="{% url 'agent_locations' city_id=2 %}">Boston Massachusetts</a>
<a href="{% url 'agent_locations' city_id=3 %}">Los Angles California</a>
<a href="{% url 'agent_locations' city_id=4 %}">Chicago lllinois</a>
<a href="{% url 'agent_locations' city_id=5 %}">Houston Texas</a>
<a href="{% url 'agent_locations' city_id=6 %}">Phoenix,Arizona</a>
<a href="{% url 'agent_locations' city_id=7 %}">San Diego,California</a>
<a href="{% url 'agent_locations' city_id=8 %}">Dallas,Texas</a>
<a href="{% url 'agent_locations' city_id=9 %}">San Jose,California</a>
<a href="{% url 'agent_locations' city_id=10 %}">Austin</a>
<a href="{% url 'agent_locations' city_id=11 %}">Columbus,Ohio</a> -->
</body>

</html>
